body {
	width: 100%;
	height: 100vh;
	background-color: #eee;
}
header {
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #ccc;
	text-align: center;
	display: flex; /* establish flex container */
	flex-direction: column; /* make main axis vertical */
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center; /* center items vertically, in this case */
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center; /* center items horizontally, in this case */
}
